@charset "UTF-8";
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
}
body, html {

line-height: 1.8;
height: 100%; 
background-color: rgb(231, 210, 200);
text-decoration: none;
}
.wrapper {
   max-width: 960px;
   margin: 0 auto;
}
.navbar {
  width: 100%;
  padding: 30px;
  font-size: 12px;
  letter-spacing: 5px;
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(255, 255, 255);
}

.navbar-text{
  margin: 0 10px;
  text-decoration: none;
  color: white;
}
.logo {
  margin-left: 60px;
  height: 100px;
}
.row{
  width: 100%;
  padding: 70px;
}
.row.first{
  background-color: rgb(229, 177, 153);
}
.row.second{
  background-color: whitesmoke;
}
.row.third{
  background-color: rgb(152, 173, 152);
  padding-bottom: 30px;
}

/* Create three equal columns that floats next to each other */
.column{
  float: none;
  padding-bottom: 10px;
}
/* Left and right column */
.column.three {
  width: 33%;
  float: left;
  display: block;
}
/* Middle column */
.column.center {
  margin: auto;
  width: 50%;
  text-align: center;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column.side, .column.middle{
    width: 100%;
  }
}

h1{
  font-size: 36px;
  color: #ffffff;
  word-spacing: 10px;
  font-style: italic;
}
h2{
  font-size: 3px;
  font-size: 20px;
  color: #ffffff;
}
h3{
  color: black;
}
.image{
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 400px;
}
.imageBig{
  display: block;
  width: 100%;
  height: 600px;
}
a:link {
  text-align: center;
}

