@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222121;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}
body, html {
  line-height: 1.8;
  height: 100%; 
  background-color: whitesmoke;
  text-decoration: none;
}

h1{
  font-size: 4rem;
}
h2{
  font-size: 20px;
}
h3{
  font-size: 15px;
  padding: 15px 30px 10px 30px;
}
h4 {
  font-family: 'Cormorant Garamond', serif;
}
a {
  text-decoration: none;
}

.wrapper {
   max-width: 100%;
   margin: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-links ul {
  margin: 10px 5px 5px 0px;
  display: flex;
}
.navbar-links li {
  text-align: center;
  padding: 15px;
  list-style: none;
}
.navbar-links li a {
  color: black;
  padding: 1rem;
  display: block;
}
.navbar-links li a:hover{
  color: rgb(84, 124, 78);
}

#subscribe {
  border: 2px solid black;
  padding: 10px 20px 10px 20px;
}

#subscribe:hover {
  border-color: rgb(84, 124, 78);
}

.logo {
  height: 40px;
  margin: 20px;
}

.toggle-botton {
  position: absolute;
  top: 3rem;
  right: 3rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.toggle-botton .line {
  height: 2px;
  width: 100%;
  background-color: black;
  transition: transform 0.75s ease, opacity 0.75s ease;

}
.navbar.show .line1 {
  transform: translate(-15px) rotate(45deg) translate(15px);
}
.navbar.show .line2 {
  opacity: 0;
}
.navbar.show .line3 {
  transform: translate(-10px) rotate(-50deg) translate(10px);
}
.navbar.show .nav-links {
  transform: translateX(0%);
}

@media (max-width: 600px) {
  .toggle-botton { 
    display: flex;
  }
 
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;

  }
  .navbar-links ul {
    justify-content: space-around;
    align-items: flex-start;
    z-index: auto;
  }
  #subscribe {
    border: none;
  }
  .navbar-links.active {
    display: inline;
  }
}

.header-image {
  height: 100vh;
  background-image: url('img/leaves-cut.jpg');
  background-size: cover;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  width: 100%;
  padding: 70px 0px 70px 0px;
}
.row.first {
  background-color: hsl(85, 33%, 83%);
}
.text-about-me {
  margin: auto;
  width: 66%;
 
}
.cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
.card{
  padding: 2rem;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.cardImage {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}
.text-box{
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
  overflow: hidden;
  flex-grow: 1;
  padding: 1rem;
}

#two-col{
  flex-direction: row;
  width: 90%;
  margin: auto;
  align-items: stretch;
}
#two-col .card{
  background-color: rgb(255, 255, 255);
}
.title-padding{
  padding: 20px 10px 0px 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.image{
  width: 50%;
  object-fit: cover;
  flex: 1;
}

.imageBig{
  display: block;
  width: 100%;
  height: 600px;
}
.vertical-line{
  border-bottom: 1px solid #222121;
}
.center-small-div{
  width: 80px;
  margin: auto;
  margin-top: 10px;
}
.text-flex {
  display: flex;
}

footer {
  background-color: rgb(30, 88, 81);
  padding: .75rem;
  color: white;
  text-align: center;
  font-size: .75rem;
  margin: 0 -40px -20px -40px;
}