* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
}
body, html {

line-height: 1.8;
height: 100%; 
background-color: rgb(247, 247, 247);
text-decoration: none;
}
.wrapper {
   max-width: 960px;
   margin: 0 auto;
}
.navbar {
  width: 100%;
  padding: 20px;
  font-size: 12px;
  letter-spacing: 5px;
  display: flex;
  flex-direction: row-reverse;

}
.subnavbar{
  width: 100%;
  padding: 0 10px;
  font-size: 12px;
  letter-spacing: 5px;
  display: flex;
  flex-direction: row;
}
.navbar-text {
  margin: 0 10px;
  text-decoration: none;
  color: black;

}
.logo {
  margin-left: 60px;
  height: 100px;
}
.imageJelly {
 height: 700px;
 position: relative;
 top: 70px;
 left: 470px;
 filter: blur(0px);
 z-index:1;
margin: 20px;
}
.textOver {
  z-index: 2;
  position: relative;
  bottom: 600px;
  left: 40px;
  width: 520px;
  height: 200px;
} 

.content {
  width: 50%;

}
.grid-container {
  display: grid;
  grid-template-columns: 80px 200px auto ;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.header {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
}

.container-fluid {
padding-top: 70px;
padding-bottom: 70px;
padding-left: 20px;
padding-right: 20px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


.h1 {

  font-size: 1px;
}
.h2 {
  font-size: 7px;
}

.taiwanImg {
  rotate: 90deg;
  height: 100px;
}

.color1 {

  background-color: coral;

}

